<h1>New game</h1>

<br>

<div class="letters">
  <ul>
    <li>
      <% @letters.each do |letter| %>
      <div class="letter">
        <%= letter  %>
      </div>
      <% end %>
    </li>
  </ul>
</div>

<br>

<p>What is the longest word you can find?</p>

<form action="/score" method="post" class="input">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" placeholder="Enter your word here" name="word" class="word-input">
  <input type="hidden" name="letters" value="<%= @letters.join %>">
  <input type="submit" value="Play" class="btn-input">
</form>
